
@{
    //Layout = null;
    ViewBag.Title = "Index";
    ViewBag.orange = "This is the header";
    ViewBag.apple = "This is a paragraph of the page";
    ViewBag.banana = 2017;
}

<h2>@ViewBag.orange</h2>
<h2>@ViewBag.banana</h2>
<p>@ViewBag.Paragraph</p>
<footer>@ViewBag.Footer</footer>


