@model week2b.Models.Machine
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Morning</title>
    <style>
        h1{
            text-align:center;
        }
    </style>
</head>
<body>
    <h1>Hi, good morning.</h1>
    <h2>@Model.Name</h2>
    <p>@Model.Price</p>
    <p>@Model.Inventory</p>
    <div> 
    </div>
</body>
</html>
