
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <style>
        h1{
            text-align:center;
        }
    </style>
</head>
<body>
    <h1>This is the Home Controller calling the index action.</h1>
    <div> 
    </div>
</body>
</html>
