@model week2b.Models.Pet

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Notindex</title>
</head>
<body>
    <div>
        @Model.Name 
    </div>
</body>
</html>
