@model week2a.Models.Pet

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Find</title>
</head>
<body>
    <div>Found: @Model.Name 
    </div>
</body>
</html>
